@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

$backColor: #F5F6FA;
$borderColor: #B8BCD5;
$fontColor: #312F4D;
$pointColor: #4644D1;
$redColor: #FF2D2D;
$whiteColor: #FFFFFF;
$boxShadow: 0 0 4px rgba(0, 8, 99, 0.5);

$bigTitle: 2rem;
$miniTitle: 1.5rem;
$miniText: 0.88rem;

// 기본 색상 설정
:root {
	--backColor: #{$backColor};
	--borderColor: #{$borderColor};
	--fontColor: #{$fontColor};
	--pointColor: #{$pointColor};
	--redColor: #{$redColor};
	--whiteColor: #{$whiteColor};
	--boxShadow: #{$boxShadow};
}

// 다크 모드 색상 설정
[data-theme="dark"] {
	--backColor: #312F4D;
	--borderColor: #B8BCD5;
	--fontColor: #F5F6FA;
	--pointColor: #6765FF;
	--redColor: #FF6C6C;
	--whiteColor: #121212;
	--boxShadow: 0 0 4px rgba(245, 246, 250, 0.5);
}

$fontFamily: "Noto Sans KR", "맑은고딕", serif;

/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0; padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

ins {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

mark {
	background-color: transparent;
	color: inherit;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--backColor);
	margin: 1em 0;
	padding: 0;
}

input, select, label, img, textarea, button, a {
	font-family: inherit;
	color: inherit;
	vertical-align: middle;
    font-size: inherit;
}

/* 초기화 */
input, textarea, select {
	border: none;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	margin: 0; padding: 0;
	font-size: 1rem;
}

input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
  width: 0;
  height: 0;
}

/* select 화살표 서식 제거 */
/* select::-ms-expand {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance: none;
	display: none;
} */

input[type="number"] {
    -moz-appearance: textfield;
}


/* 자동완성 배경 초기화 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: transparent;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 갤럭시, 아이폰 정렬 서식 */
input[type="date"]::-webkit-date-and-time-value,
input[type="time"]::-webkit-date-and-time-value,
input[type="datetime-local"]::-webkit-date-and-time-value {
	text-align: left;
	text-align: -webkit-left;
}

/* 캘린더 아이콘 클릭 늘리기 */
input[type="date"], input[type="time"], input[type="datetime-local"] {
	position: relative;
  padding-right: 1.5rem;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	position: absolute;
	right: 0;
	top: 50%; transform: translateY(-50%);
	width: 100%;
	height: 100%;
	background-position: right;
  background-size: 1rem;
	color: transparent;
	cursor: pointer;
}

input[type="reset"], input[type="button"], input[type="submit"], button {
	cursor: pointer;
	background: transparent;
	border: transparent;
}

/* 캘린더 아이콘 제거 */
/* input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  background: transparent;
	color: transparent;
	cursor: pointer;
} */

/* 파일첨부 버튼 제거 */
/* input[type="file"]::file-selector-button {
	display: none;
} */

/* input 포커스 : PC, 모바일 */
input:focus {
	// @content;
}
/* input 포커스 : 부모 스타일 */
input:focus-within {
	// @content;
}
/* input 포커스 : 키보드 사용자 스타일 */
input:focus-visible {
	// @content;
}
/* input 값 없을 때 스타일 */
input:placeholder-shown {
	// @content;
}

textarea {
	resize: none;
}

address {
	font-style: normal;
}

body {
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 160%;
	font-family: $fontFamily;
	color: var(--fontColor);
	background: var(--backColor);
	scroll-behavior: smooth;
}

a {
	vertical-align: middle;
	text-decoration: none;
}

/* 글자 숨기기 */
table>caption, legend {
	overflow: hidden;
	display: block;
	position: absolute;
	border: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.clear {
	clear: both;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3 {
	font-size: 1rem;
	line-height: 160%;
}

// 말줄임
@mixin text_short($line) {
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;

	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin media($sizes...) {
    @each $size in $sizes {
        @if $size == 'mobile' {
            @media screen and (max-width: 768px) {
                @content;
            }
        }
        @else if $size == 'tablet' {
            @media screen and (min-width: 768px) and (max-width: 1300px) {
                @content;
            }
        }
    }
}

// 공통 미니 제목
@mixin miniTitle {
	font-size: 1.5rem; font-weight: 700;
	@include media("mobile") {
		font-size: 1.2rem;
	}
}

// 날짜 미니 공통
@mixin dateText {
	font-size: 0.88rem; font-weight: normal;
	color: var(--borderColor);
}

// 백그라운드 카드
@mixin card($background : var(--backColor)) {
	background: $background;
	border-radius: 1rem;
	padding: 1rem;
}

// 미니태그
@mixin miniTag {
	font-size: 0.88rem;
	padding: 0.2rem 0.4rem;
	background: var(--backColor);
	border-radius: 0.5rem;
	font-weight: 500;
	display: flex; gap: 0.5rem; align-items: center;
	justify-content: center;
}

// flex 중앙 정렬
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
// flex 가로 정렬
@mixin flexX {
    display: flex; gap: 1rem;
}
// flex 세로 정렬
@mixin flexY {
    display: flex; flex-direction: column; gap: 1rem;
}

// 버튼 100%
@mixin button100 {
	background: var(--pointColor);
	color: var(--whiteColor);
	border-radius: 0.5rem;
	line-height: 250%;
	display: flex; gap: 0.5rem; align-items: center;
	justify-content: center;
	transition: 0.3s;
	font-weight: 700;
	.fa-arrow-right {
		transform: rotate(-45deg);
	}
	&:hover {
		filter: brightness(1.1);
		scale: 1.05;
		.fa-arrow-right {
			animation: buttonArrow 0.3s linear;
		}
	}
	@keyframes buttonArrow {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-45deg);}
	}
}

// 메인 공통 제목
@mixin h2Title {
	position: relative;
	font-size: $bigTitle; font-weight: 700;
	text-indent: 1rem;
	&::before {
		position: absolute; left: 0; top: 50%;
		transform: translateY(-50%);
		content: "";
		display: block;
		width: 0.5rem; height: 2rem;
		border-radius: 0 0.5rem 0.5rem 0;
		background: var(--pointColor);
	}
}

// 미니 카테고리
@mixin miniCate {
	@include flexX;
	width: min-content;
	li {
		position: relative;
		flex: 1; gap: 0.5rem;
		border-radius: 0.5rem;
		padding: 0.2rem 1rem;
		background: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		transition: 0.3s;
		&.cateOn {
			background: var(--backColor);
			border: 1px solid var(--borderColor);
			&::after {
				content: "";
				display: block;
				position: absolute; right: 0.2rem; top: 0.2rem;
				width: 0.4rem; height: 0.4rem;
				border-radius: 50%;
				background: var(--pointColor);
			}
		}
	}
}