@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --backColor: #F5F6FA;
  --borderColor: #B8BCD5;
  --fontColor: #312F4D;
  --pointColor: #4644D1;
  --redColor: #FF2D2D;
  --whiteColor: #FFFFFF;
  --boxShadow: 0 0 4px rgba(0, 8, 99, 0.5);
}

[data-theme=dark] {
  --backColor: #312F4D;
  --borderColor: #B8BCD5;
  --fontColor: #F5F6FA;
  --pointColor: #6765FF;
  --redColor: #FF6C6C;
  --whiteColor: #121212;
  --boxShadow: 0 0 4px rgba(245, 246, 250, 0.5);
}

/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

mark {
  background-color: transparent;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--backColor);
  margin: 1em 0;
  padding: 0;
}

input, select, label, img, textarea, button, a {
  font-family: inherit;
  color: inherit;
  vertical-align: middle;
  font-size: inherit;
}

/* 초기화 */
input, textarea, select {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 0;
  height: 0;
}

/* select 화살표 서식 제거 */
/* select::-ms-expand {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance: none;
	display: none;
} */
input[type=number] {
  -moz-appearance: textfield;
}

/* 자동완성 배경 초기화 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 갤럭시, 아이폰 정렬 서식 */
input[type=date]::-webkit-date-and-time-value,
input[type=time]::-webkit-date-and-time-value,
input[type=datetime-local]::-webkit-date-and-time-value {
  text-align: left;
  text-align: -webkit-left;
}

/* 캘린더 아이콘 클릭 늘리기 */
input[type=date], input[type=time], input[type=datetime-local] {
  position: relative;
  padding-right: 1.5rem;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-position: right;
  background-size: 1rem;
  color: transparent;
  cursor: pointer;
}

input[type=reset], input[type=button], input[type=submit], button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

/* 캘린더 아이콘 제거 */
/* input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  background: transparent;
	color: transparent;
	cursor: pointer;
} */
/* 파일첨부 버튼 제거 */
/* input[type="file"]::file-selector-button {
	display: none;
} */
/* input 포커스 : PC, 모바일 */
/* input 포커스 : 부모 스타일 */
/* input 포커스 : 키보드 사용자 스타일 */
/* input 값 없을 때 스타일 */
textarea {
  resize: none;
}

address {
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 160%;
  font-family: "Noto Sans KR", "맑은고딕", serif;
  color: var(--fontColor);
  background: var(--backColor);
  scroll-behavior: smooth;
}

a {
  vertical-align: middle;
  text-decoration: none;
}

/* 글자 숨기기 */
table > caption, legend {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3 {
  font-size: 1rem;
  line-height: 160%;
}

* {
  box-sizing: border-box;
}

.modalOpen {
  overflow: hidden;
}

html {
  background-color: var(--backColor);
  width: 100%;
  height: 100%;
  min-height: 900px;
  max-height: 100vh;
  max-height: 100svh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  html {
    padding: 1rem;
    min-height: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    padding: 1rem;
    min-height: 100%;
    max-height: 100%;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
}

@keyframes shake {
  0%, 70%, 100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(7.5deg);
  }
  40% {
    transform: rotate(-7.5deg);
  }
  50% {
    transform: rotate(2.5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes progressBar {
  100% {
    width: 100%;
  }
}
@keyframes cardMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-84%);
  }
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  main {
    flex-direction: column;
    padding-top: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    padding-top: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  main {
    gap: 1rem;
  }
}
main .sectionCon {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  main .sectionCon {
    gap: 1rem;
  }
}
main .sectionCon2, main .section2, main .section4, main .section7 {
  flex: 1;
}
main .sectionCon1 {
  flex: 1 1 30%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  main .sectionCon1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .sectionCon1 .section1 {
    order: 1;
    flex: 1;
  }
  main .sectionCon1 .section2 {
    order: 3;
    width: 100%;
    height: auto;
    flex: auto;
  }
  main .sectionCon1 .section3 {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  main .sectionCon1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .sectionCon1 .section1 {
    order: 1;
    flex: 1;
  }
  main .sectionCon1 .section2 {
    order: 3;
    width: 100%;
    height: auto;
    flex: auto;
  }
  main .sectionCon1 .section3 {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  main .sectionCon1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
main .sectionCon2 {
  flex: 1 1 45%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  main .sectionCon2 {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  main .sectionCon2 {
    flex-direction: column;
  }
}
main .sectionCon3 {
  flex: 1 1 25%;
}

.section {
  padding: 2rem;
  background: var(--whiteColor);
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1rem;
  }
}
.section > h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-indent: 1rem;
}
.section > h2::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 0.5rem;
  height: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--pointColor);
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.section1 .top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.section1 .left {
  height: 100%;
  max-height: 6rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden;
}
.section1 .left img {
  width: 100%;
  object-fit: cover;
}
.section1 .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section1 .right .name {
  font-size: 1.5rem;
  font-weight: 700;
}
.section1 .right .text span {
  color: var(--pointColor);
  font-weight: 700;
}
.section1 .bottom {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.section1 .bottom li {
  font-size: 0.88rem;
  padding: 0.2rem 0.4rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.section1 .bottom li span {
  color: var(--pointColor);
}
.section1 button {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.section1 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section1 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section1 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50%;
  overflow: hidden;
}
.section2 .list {
  width: 500%;
  height: 100%;
  display: flex;
  gap: 1rem;
  animation: cardMove 10s linear infinite;
}
.section2 .list li {
  height: 100%;
}
.section2 .list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section2 button {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.section2 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section2 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section2 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.section3 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.section3 .section {
  flex: 1;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .section3 .section {
    padding: 0;
  }
}
.section3 .tag {
  font-size: 0.88rem;
  padding: 0.2rem 0.4rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
}
.section3 .tag span {
  color: var(--pointColor);
}
@media screen and (max-width: 768px) {
  .section3 .tag span {
    display: none;
  }
}
.section3 .count {
  font-size: 3rem;
  font-weight: 900;
  color: var(--pointColor);
  line-height: 100%;
  animation: shake 1s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .section3 .count {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section3 {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section3 {
    flex-direction: row;
  }
}

.section4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section4 {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section4 {
    height: 100%;
  }
}
.section4 .list {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section4 .list li {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section4 .list li {
    gap: 0;
  }
}
.section4 .list::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}
.section4 .left {
  width: 5rem;
  height: 5rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .section4 .left {
    display: none;
  }
}
.section4 .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section4 .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 0.5rem;
}
.section4 .right {
  font-size: 0.88rem;
  padding: 0.2rem 0.4rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.section4 button {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.section4 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section4 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section4 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.section4 .company {
  font-size: 1.5rem;
  font-weight: 700;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 768px) {
  .section4 .company {
    font-size: 1.2rem;
  }
}
.section4 .state {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
  text-indent: 0.7rem;
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
  color: var(--fontColor);
}
.section4 .state::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--pointColor);
  border-radius: 50%;
  animation: blink 1s steps(1) infinite;
}
.section4 .date {
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
}

.section5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section5 {
    width: min-content;
    min-width: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .section5 {
    width: 100%;
  }
}
.section5 .list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.section5 .list li {
  background: var(--backColor);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: max-content;
  flex: 1 1 30%;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section5 .list li {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 768px) {
  .section5 .list li {
    flex: 1 1 40%;
  }
}
.section5 .percent {
  font-size: 1.5rem;
  font-weight: 700;
}
.section5 .progress {
  position: relative;
  width: 100%;
  height: 1rem;
}
.section5 .progress p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}
.section5 .progress p:first-child {
  background: var(--whiteColor);
}
.section5 .progress p:last-child {
  position: relative;
  background: var(--pointColor);
  overflow: hidden;
}
.section5 .progress p:last-child::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  border-radius: 0.5rem;
  background: var(--pointColor);
  filter: brightness(1.2);
  animation: progressBar 2s cubic-bezier(0.76, -0.04, 0.29, 1.25) infinite;
}
.section5 button {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.section5 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section5 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section5 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.section6 {
  position: relative;
  z-index: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section6 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 500;
    width: calc(100vw - (100vw - 100%) - 2rem);
    padding: 1rem;
    box-shadow: 0 0 4px var(--borderColor);
  }
}
@media screen and (max-width: 768px) {
  .section6 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 500;
    width: calc(100vw - (100vw - 100%) - 2rem);
    padding: 1rem;
    box-shadow: 0 0 4px var(--borderColor);
  }
}
.section6 .alarm {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.section6 .alarm.alarmOn::after {
  position: absolute;
  top: -2px;
  right: -2px;
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--redColor);
  border: 1px solid var(--whiteColor);
}
.section6 #alarmMain {
  display: none;
  position: absolute;
  bottom: -9.5rem;
  left: 0rem;
  background: var(--whiteColor);
  padding: 1rem;
  box-shadow: 0 0 4px var(--borderColor);
  border-radius: 1rem;
}
.section6 #alarmMain span {
  float: right;
  padding-left: 1rem;
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
}
.section6 #alarmMain .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.section6 #alarmMain.alarmOpen {
  display: block;
}
.section6 .name {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .section6 .name {
    font-size: 1.2rem;
  }
}
.section6 button {
  font-size: 1.5rem;
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
  height: 100%;
  aspect-ratio: 1;
  line-height: 200%;
}
.section6 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section6 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section6 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .section6 button {
    font-size: 1rem;
  }
}

.section7 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section7 {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section7 {
    height: 100%;
  }
}
.section7 .list {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section7 .list::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section7 .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.section7 .list li {
  display: flex;
  gap: 1rem;
  background: var(--backColor);
  border-radius: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section7 .list li {
    flex: 1 1 40%;
  }
}
@media screen and (max-width: 768px) {
  .section7 .list li {
    flex: 1 1 40%;
  }
}
.section7 .list li > p {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
  height: 100%;
  aspect-ratio: 1;
}
.section7 .list li > p .fa-arrow-right {
  transform: rotate(-45deg);
}
.section7 .list li > p:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section7 .list li > p:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.section7 .name {
  font-size: 1.1rem;
  font-weight: 700;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.section7 .date {
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
}
.section7 button {
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.section7 button .fa-arrow-right {
  transform: rotate(-45deg);
}
.section7 button:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.section7 button:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.sectionDetail {
  position: fixed;
  width: 0%;
  height: 0%;
  background: var(--backColor);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionDetail.detailOpen {
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .sectionDetail.detailOpen {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .sectionDetail.detailOpen {
    padding-top: 6rem;
  }
}
.sectionDetail .detailBox {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background: var(--whiteColor);
  border-radius: 2rem;
  padding: 2rem;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .sectionDetail .detailBox {
    padding: 1rem;
  }
}
.sectionDetail .detailBox > h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-indent: 1rem;
}
.sectionDetail .detailBox > h2::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 0.5rem;
  height: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--pointColor);
}

.projectDetail .detailBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projectDetail .detailBox .projectCate {
  display: flex;
  gap: 1rem;
  width: min-content;
}
.projectDetail .detailBox .projectCate li {
  position: relative;
  flex: 1;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.projectDetail .detailBox .projectCate li.cateOn {
  background: var(--backColor);
  border: 1px solid var(--borderColor);
}
.projectDetail .detailBox .projectCate li.cateOn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--pointColor);
}
.projectDetail .detailBox .projectCon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .projectDetail .detailBox .projectCon {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .projectDetail .detailBox .projectCon {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.projectDetail .detailBox .projectCon li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 0.5rem;
  background: var(--backColor);
  padding: 1rem;
  border-radius: 1rem;
}
.projectDetail .detailBox .projectCon li .imgWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1.77;
  background: var(--whiteColor);
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
  justify-content: end;
}
.projectDetail .detailBox .projectCon li .imgWrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectDetail .detailBox .projectCon li .imgWrap .tag {
  position: relative;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  font-size: 0.88rem;
  padding: 0.2rem 0.4rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--borderColor);
}
.projectDetail .detailBox .projectCon li .imgWrap .tag:nth-child(n+6) {
  display: none;
}
.projectDetail .detailBox .projectCon li .title {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 768px) {
  .projectDetail .detailBox .projectCon li .title {
    font-size: 1.2rem;
  }
}
.projectDetail .detailBox .projectCon li .detailWrap {
  display: flex;
  gap: 1rem;
  gap: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projectDetail .detailBox .projectCon li .detailWrap .date {
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
}
.projectDetail .detailBox .projectCon li .detailWrap .percent {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 1rem;
  white-space: nowrap;
  justify-content: flex-end;
}
.projectDetail .detailBox .projectCon li .detailWrap .percent::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: var(--pointColor);
  border-radius: 50%;
  margin-right: 0.2rem;
}
.projectDetail .detailBox .projectCon li .detailWrap .percent .number {
  font-weight: 700;
}
.projectDetail .detailBox .projectCon li .btnBox {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.projectDetail .detailBox .projectCon li .btnBox a {
  flex: 1;
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}
.projectDetail .detailBox .projectCon li .btnBox a .fa-arrow-right {
  transform: rotate(-45deg);
}
.projectDetail .detailBox .projectCon li .btnBox a:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.projectDetail .detailBox .projectCon li .btnBox a:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.projectDetail .detailBox .projectCon li .btnBox a.notionBtn {
  background: var(--fontColor);
}

.careerDetail .detailBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.careerDetail .detailBox .timeline {
  padding: 1rem 3rem 1rem;
  border-bottom: 2px solid var(--backColor);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .careerDetail .detailBox .timeline {
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .timeline {
    padding-inline: 1rem;
  }
}
.careerDetail .detailBox .timeline li {
  position: relative;
}
.careerDetail .detailBox .timeline li::after {
  position: absolute;
  left: 0;
  bottom: calc(-1.25rem - 1px);
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--pointColor);
  border-radius: 50%;
}
.careerDetail .detailBox .timeline li:nth-child(1) {
  opacity: 100%;
}
.careerDetail .detailBox .timeline li:nth-child(2) {
  opacity: 50%;
}
.careerDetail .detailBox .timeline li:nth-child(3) {
  opacity: 33.3333333333%;
}
.careerDetail .detailBox .timeline li:nth-child(4) {
  opacity: 25%;
}
.careerDetail .detailBox .timeline li:nth-child(5) {
  opacity: 20%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .careerDetail .detailBox .timeline li:nth-child(n+5) {
    display: none;
  }
  .careerDetail .detailBox .timeline li:nth-child(1) {
    opacity: 100%;
  }
  .careerDetail .detailBox .timeline li:nth-child(2) {
    opacity: 50%;
  }
  .careerDetail .detailBox .timeline li:nth-child(3) {
    opacity: 33.3333333333%;
  }
  .careerDetail .detailBox .timeline li:nth-child(4) {
    opacity: 25%;
  }
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .timeline li:nth-child(n+3) {
    display: none;
  }
  .careerDetail .detailBox .timeline li:nth-child(1) {
    opacity: 100%;
  }
  .careerDetail .detailBox .timeline li:nth-child(2) {
    opacity: 50%;
  }
}
.careerDetail .detailBox .timeline .date {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .timeline .date {
    font-size: 1.2rem;
  }
}
.careerDetail .detailBox .timeline .name {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.careerDetail .detailBox .careerCon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .careerDetail .detailBox .careerCon {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .careerCon {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .careerCon {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.careerDetail .detailBox .careerCon li {
  display: flex;
  gap: 1rem;
  background: var(--backColor);
  padding: 1rem;
  border-radius: 1rem;
}
.careerDetail .detailBox .careerCon li .img {
  position: relative;
  height: 10rem;
  max-height: 25vw;
  aspect-ratio: 1;
  background: var(--whiteColor);
  padding: 1rem;
  border-radius: 1rem;
}
.careerDetail .detailBox .careerCon li .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.careerDetail .detailBox .careerCon li .img .state {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.88rem;
  padding: 0.2rem 0.4rem;
  background: var(--backColor);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: var(--pointColor);
  color: var(--whiteColor);
  padding-left: 1.5rem;
}
.careerDetail .detailBox .careerCon li .img .state::before {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: var(--whiteColor);
  border-radius: 50%;
}
.careerDetail .detailBox .careerCon li .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  justify-content: space-between;
}
.careerDetail .detailBox .careerCon li .company {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .careerCon li .company {
    font-size: 1.2rem;
  }
}
.careerDetail .detailBox .careerCon li .position::before {
  content: "\f2c1";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.careerDetail .detailBox .careerCon li .textBottom {
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
  color: var(--borderColor);
}
.careerDetail .detailBox .careerCon li .textBottom span {
  color: var(--fontColor);
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .careerDetail .detailBox .careerCon li .textBottom span {
    display: block;
    text-align: right;
  }
}
@media screen and (max-width: 768px) {
  .careerDetail .detailBox .careerCon li .textBottom span {
    display: block;
    text-align: right;
  }
}

.skillDetail .detailBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillDetail .detailBox .skillCon {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .skillDetail .detailBox .skillCon {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .skillDetail .detailBox .skillCon {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skillDetail .detailBox .skillCon li {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  background: var(--backColor);
  padding: 20px;
  border-radius: 30px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .skillDetail .detailBox .skillCon li {
    padding: 1rem;
  }
}
.skillDetail .detailBox .skillCon li .piecontainer {
  width: 100%;
  height: 100%;
}
.skillDetail .detailBox .skillCon li .piecontainer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--whiteColor);
  border-radius: 50%;
  aspect-ratio: 1;
}
.skillDetail .detailBox .skillCon li .piecover {
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: var(--backColor);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  aspect-ratio: 1;
}
.skillDetail .detailBox .skillCon li .piechart {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  aspect-ratio: 1;
}
.skillDetail .detailBox .skillCon li .skillName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.skillDetail .detailBox .skillCon li .skillName .level {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .skillDetail .detailBox .skillCon li .skillName .level {
    font-size: 1.2rem;
  }
}

.certiDetail .detailBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.certiDetail .detailBox .certiCate {
  display: flex;
  gap: 1rem;
  width: min-content;
}
.certiDetail .detailBox .certiCate li {
  position: relative;
  flex: 1;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.certiDetail .detailBox .certiCate li.cateOn {
  background: var(--backColor);
  border: 1px solid var(--borderColor);
}
.certiDetail .detailBox .certiCate li.cateOn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--pointColor);
}
.certiDetail .detailBox .certiCon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .certiDetail .detailBox .certiCon {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .certiDetail .detailBox .certiCon {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.certiDetail .detailBox .certiCon li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
  background: var(--backColor);
  padding: 1rem;
}
.certiDetail .detailBox .certiCon .name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 180%;
}
@media screen and (max-width: 768px) {
  .certiDetail .detailBox .certiCon .name {
    font-size: 1.2rem;
  }
}
.certiDetail .detailBox .certiCon .date {
  font-size: 0.88rem;
  font-weight: normal;
  color: var(--borderColor);
}
.certiDetail .detailBox .certiCon .issuer {
  text-align: right;
  font-weight: 700;
  margin-top: 1rem;
}
.certiDetail .detailBox .certiCon .icon {
  position: absolute;
  background: var(--pointColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  line-height: 250%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
  right: 1rem;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
}
.certiDetail .detailBox .certiCon .icon .fa-arrow-right {
  transform: rotate(-45deg);
}
.certiDetail .detailBox .certiCon .icon:hover {
  filter: brightness(1.1);
  scale: 1.05;
}
.certiDetail .detailBox .certiCon .icon:hover .fa-arrow-right {
  animation: buttonArrow 0.3s linear;
}
@keyframes buttonArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}