@import "base";

* {box-sizing: border-box;}
.modalOpen {overflow: hidden;}

html {
    background-color: var(--backColor);
    width: 100%; height: 100%;
    min-height: 900px;
    max-height: 100vh; max-height: 100svh;
    padding: 2rem;
    @include flexCenter;
    @include media("tablet", "mobile") {
        padding: 1rem;
        min-height: 100%;
        max-height: 100%;
    }
}
body {
    position: relative;
    width: 100%; height: 100%;
    max-width: 1920px; max-height: 1080px;
}

@keyframes shake{
    0%,70%,100%{transform: rotate(0deg);}
    10%{transform: rotate(10deg);}
    20%{transform: rotate(-10deg);}
    30%{transform: rotate(7.5deg);}
    40%{transform: rotate(-7.5deg);}
    50%{transform: rotate(2.5deg);}
    60%{transform: rotate(-5deg);}
}
@keyframes blink {
    50% {opacity: 0;}
}
@keyframes progressBar {
    100% {width: 100%;}
}
@keyframes cardMove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-84%);
    }
}

main {
    width: 100%; height: 100%;
    display: flex; gap: 2rem;
    @include media("tablet", "mobile") {
        flex-direction: column;
        padding-top: 5.5rem;
    }
    @include media("mobile") {
        gap: 1rem;
    }
    .sectionCon {
        display: flex; flex-direction: column; gap: 2rem;
        @include media("mobile") {
            gap: 1rem;
        }
    }
    .sectionCon2, .section2, .section4, .section7 {
        flex: 1;
    }
    .sectionCon1 {
        flex: 1 1 30%;
        @include media("tablet", "mobile") {
            flex-direction: row;
            flex-wrap: wrap;
            .section1 {
                order: 1;
                flex: 1;
            }
            .section2 {
                order: 3;
                width: 100%; height: auto;
                flex: auto;
            }
            .section3 {
                order: 2;
            }
        }
        @include media("mobile") {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    .sectionCon2 {
        flex: 1 1 45%;
        @include media("tablet") {
            flex-direction: row;
        }
        @include media("mobile") {
            flex-direction: column;
        }
    }
    .sectionCon3 {
        flex: 1 1 25%;
    }
}

.section {
    padding: 2rem;
    background: var(--whiteColor);
    border-radius: 1rem;
    @include media("mobile") {
        padding: 1rem;
    }
    & > h2 {
        @include h2Title;
    }
}

.section1 {
    @include flexY;
    justify-content: center;
    .top {
        @include flexX;
        align-items: center;
    }
    .left {
        height: 100%; max-height: 6rem; aspect-ratio: 1;
        border-radius: 1rem;
        overflow: hidden;
        background: var(--backColor);
        img {
            width: 100%; object-fit: cover;
        }
    }
    .right {
        @include flexY;
        .name {
            font-size: $miniTitle; font-weight: 700;
        }
        .text {
            span {
                color: var(--pointColor); font-weight: 700;
            }
        }
    }
    .bottom {
        @include flexX; flex-wrap: wrap;
        li {
            @include miniTag;
            span {
                color: var(--pointColor);
            }
        }
    }
    button {
        @include button100;
    }
}

.section2 {
    @include flexY;
    height: 50%;
    overflow: hidden;
    .list {
        width: 500%; height: 100%;
        @include flexX;
        animation: cardMove 10s linear infinite;
        li {
            height: 100%;
            img {
                width: 100%; height: 100%;
                object-fit: contain;
            }
        }
    }
    button {
        @include button100;
    }
}

.section3 {
    @include flexX; justify-content: space-between;
    .section {
        flex: 1; aspect-ratio: 1;
        @include flexCenter; flex-direction: column;
        @include media("mobile") {
            padding: 0;
        }
    }
    .tag {
        @include miniTag;
        background: transparent;
        padding: 0;
        span {
            color: var(--pointColor);
            @include media("mobile") {
                display: none;
            }
        }
    }
    .count {
        font-size: 3rem; font-weight: 900;
        color: var(--pointColor);
        line-height: 100%;
        animation: shake 1s ease-in-out infinite;
        @include media("mobile") {
            font-size: 2rem;
        }
    }
    @include media("tablet") {
        flex-direction: column;
    }
    @include media("mobile") {
        flex-direction: row;
    }
}

.section4 {
    @include flexY;
    height: 50%;
    @include media("tablet", "mobile") {
        height: 100%;
    }
    .list {
        position: relative;
        height: 100%; overflow: hidden;
        @include flexY;
        li {
            @include flexX;
            align-items: center; justify-content: center;
            @include media("mobile") {
                gap: 0;
            }
        }
        &::after {
            content: "";
            bottom: 0; left: 0;
            position: absolute;
            display: block;
            width: 100%; height: 25%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
        }
    }
    .left {
        width: 5rem; height: 5rem;
        background: var(--backColor);
        border-radius: 0.5rem;
        padding: 0.5rem;
        @include media("mobile") {
            display: none;
        }
        img {
            width: 100%; height: 100%;
            object-fit: contain;
        }
    }
    .center {
        flex: 1;
        @include flexY; gap: 0.5rem;
    }
    .right {
        @include miniTag;
    }
    button {
        @include button100;
    }
    .company {
        @include miniTitle;
        @include text_short(1);
    }
    .state {
        display: inline-block;
        position: relative;
        margin-left: 1rem;
        text-indent: 0.7rem;
        @include dateText;
        color: var(--fontColor);
        &::before {
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
            content: "";
            display: inline-block;
            width: 0.5rem; height: 0.5rem;
            background: var(--pointColor);
            border-radius: 50%;
            animation: blink 1s steps(1) infinite;
        }
    }
    .date {
        @include dateText;
    }
}

.section5 {
    @include flexY;
    @include media("tablet") {
        width: min-content; min-width: 12rem;
    }
    @include media("mobile") {
        width: 100%;
    }
    .list {
        @include flexX; flex-wrap: wrap;
        li {
            @include card;
            @include flexCenter; gap: 0.6rem;
            width: max-content;
            flex: 1 1 30%;
            flex-direction: column;
            @include media("tablet") {
                flex: 1 1 100%;
            }
            @include media("mobile") {
                flex: 1 1 40%;
            }
        }
    }
    .title {
    }
    .percent {
        font-size: $miniTitle; font-weight: 700;
    }
    .progress {
        position: relative;
        width: 100%; height: 1rem;
        p {
            width: 100%; height: 100%;
            position: absolute; top: 0; left: 0;
            border-radius: 0.5rem;
            &:first-child {background: var(--whiteColor);}
            &:last-child {
                position: relative;
                background: var(--pointColor);
                overflow: hidden;
                &::after {
                    position: absolute; top: 0; left: 0;
                    content: "";
                    display: block;
                    width: 0%; height: 100%;
                    border-radius: 0.5rem;
                    background: var(--pointColor);
                    filter: brightness(1.2);
                    animation: progressBar 2s cubic-bezier(0.76, -0.04, 0.29, 1.25) infinite;
                }
            }
        }
    }
    button {
        @include button100;
    }
}

.section6 {
    position: relative; z-index: 500;
    @include flexX; align-items: center;
    justify-content: space-between;
    @include media("tablet", "mobile") {
        position: fixed; top: 1rem; left: 1rem; z-index: 500;
        width: calc(100vw - (100vw - 100%) - 2rem);
        padding: 1rem;
        box-shadow: 0 0 4px var(--borderColor);
    }
    .alarm {
        position: relative;
        font-size: $miniTitle;
        cursor: pointer;
        &.alarmOn {
            &::after {
                position: absolute;
                top: -2px; right: -2px;
                content: "";
                display: block;
                width: 0.5rem; height: 0.5rem;
                border-radius: 50%;
                background: var(--redColor);
                border: 1px solid var(--whiteColor);
            }
        }
    }
    #alarmMain {
        display: none;
        position: absolute;
        bottom: -9.5rem; left: 0rem;
        background: var(--whiteColor);
        padding: 1rem;
        box-shadow: 0 0 4px var(--borderColor);
        border-radius: 1rem;
        span {
            float: right;
            padding-left: 1rem;
            @include dateText;
        }
        .title {
            font-size: 1.2rem; font-weight: 700;
            margin-bottom: 0.5rem;
        }
        &.alarmOpen {
            display: block;
        }
    }
    .name {
        @include miniTitle;
    }
    button {
        font-size: $miniTitle;
        @include button100;
        height: 100%; aspect-ratio: 1;
        line-height: 200%;
        @include media("mobile") {
            font-size: 1rem;
        }
    }
}

.section7 {
    @include flexY;
    height: 80%;
    @include media("tablet", "mobile") {
        height: 100%;
    }
    .list {
        position: relative;
        height: 100%; overflow: hidden;
        &::after {
            content: "";
            bottom: 0; left: 0;
            position: absolute;
            display: block;
            width: 100%; height: 25%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
        }
        @include flexY;
        @include media("tablet") {
            flex-direction: row;
            flex-wrap: wrap;
        }
        li {
            @include flexX;
            @include card;
            @include media("tablet", "mobile") {
                flex: 1 1 40%;
            }
            & > p {
                @include button100;
                height: 100%; aspect-ratio: 1;
            }
        }
    }
    .name {
        font-size: 1.1rem; font-weight: 700;
        @include text_short(1);
    }
    .date {
        @include dateText;
    }
    button {
        @include button100;
    }
}

.sectionDetail {
    position: fixed;
    width: 0%; height: 0%;
    background: var(--backColor);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    overflow: hidden;
    @include flexCenter;
    &.detailOpen {
        width: 100%; height: 100%;
        z-index: 100;
        padding: 1rem;
        @include media("tablet", "mobile") {
            padding-top: 6rem;
        }
    }
    .detailBox {
        width: 100%; height: 100%;
        max-width: 1920px; max-height: 1080px;
        background: var(--whiteColor);
        border-radius: 2rem;
        padding: 2rem;
        overflow: auto;
        @include media("mobile") {
            padding: 1rem;
        }
        & > h2 {
            @include h2Title;
        }
    }
}

.projectDetail .detailBox {
    @include flexY;
    .projectCate {
        @include miniCate;
    }
    .projectCon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        @include media("tablet") {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
        @include media("mobile") {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
        li {
            @include flexY; gap: 0.5rem;
            background: var(--backColor);
            padding: 1rem;
            border-radius: 1rem;            
            .imgWrap {
                position: relative;
                width: 100%; aspect-ratio: 1.77;
                background: var(--whiteColor);
                border-radius: 1rem;
                display: flex; gap: 0.5rem;
                overflow: hidden;
                padding: 0.5rem;
                justify-content: end;
                img {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    object-fit: cover;
                }
                .tag {
                    position: relative; z-index: 1;
                    width: fit-content; height: fit-content;
                    @include miniTag;
                    border: 1px solid var(--borderColor);
                    &:nth-child(n+6) {
                        display: none;
                    }
                }
            }
            .title {
                @include miniTitle;
                width: 100%;
                @include text_short(1);
            }
            .detailWrap {
                @include flexX; gap: 0;
                flex-wrap: wrap;
                justify-content: space-between;
                .date {
                    @include dateText;
                }
                .percent {
                    position: relative;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    margin-left: 1rem;
                    white-space: nowrap;
                    justify-content: flex-end;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 0.4rem; height: 0.4rem;
                        background: var(--pointColor);
                        border-radius: 50%;
                        margin-right: 0.2rem;
                    }
                    .number {
                        font-weight: 700;
                    }
                }
            }
            .btnBox {
                @include flexX;
                justify-content: space-between;
                a {
                    flex: 1;
                    @include button100;
                    &.notionBtn {
                        background: var(--fontColor);
                    }
                }
            }
        }
    }
}

.careerDetail .detailBox {
    @include flexY;
    .timeline {
        padding: 1rem 3rem 1rem;
        border-bottom: 2px solid var(--backColor);
        @include flexX;
        justify-content: space-between;
        @include media("tablet", "mobile") {
            padding-inline: 1rem;
        }
        li {
            position: relative;
            &::after {
                position: absolute;
                left: 0; bottom: calc(-1rem - 0.25rem - 1px);
                content: "";
                display: block;
                width: 0.5rem; height: 0.5rem;
                background: var(--pointColor);
                border-radius: 50%;
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    opacity: 100% / $i;
                }
            }
            @include media("tablet") {
                &:nth-child(n+5) {
                    display: none;
                }
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        opacity: 100% / $i;
                    }
                }
            }
            @include media("mobile") {
                &:nth-child(n+3) {
                    display: none;
                }
                @for $i from 1 through 2 {
                    &:nth-child(#{$i}) {
                        opacity: 100% / $i;
                    }
                }
            }
        }
        .date {
            @include miniTitle;
        }
        .name {
            @include text_short(1);
        }
    }
    .careerCon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        @include media("tablet", "mobile") {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
        @include media("mobile") {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
        li {
            @include flexX;
            background: var(--backColor);
            padding: 1rem;
            border-radius: 1rem;
            .img {
                position: relative;
                height: 10rem;
                max-height: 25vw; aspect-ratio: 1;
                background: var(--whiteColor);
                padding: 1rem;
                border-radius: 1rem;
                img {
                    width: 100%; height: 100%;
                    object-fit: contain;
                }
                .state {
                    position: absolute;
                    top: 0.5rem; left: 0.5rem;
                    @include miniTag;
                    background: var(--pointColor);
                    color: var(--whiteColor);
                    padding-left: 1.5rem;
                    &::before {
                        position: absolute;
                        top: 50%; left: 0.75rem;
                        transform: translateY(-50%);
                        content: "";
                        display: inline-block;
                        width: 0.4rem; height: 0.4rem;
                        background: var(--whiteColor);
                        border-radius: 50%;
                    }
                }
            }
            .text {
                @include flexY;
                flex: 1;
                justify-content: space-between;
            }
            .company {
                @include miniTitle;
                line-height: 120%;
                margin-bottom: 0.5rem;
            }
            .position {
                &::before {
                    content:"\f2c1";
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    margin-right: 0.5rem;
                    font-size: 1.2rem;
                }
            }
            .textBottom {
                @include dateText;
                color: var(--borderColor);
                span {
                    color: var(--fontColor);
                    font-weight: 700;
                    @include media("tablet", "mobile") {
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.skillDetail .detailBox {
    @include flexY;
    .skillCon {
        width: 100%;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @include media('tablet') {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media('mobile') {
            grid-template-columns: repeat(2, 1fr);
        }
        gap: 20px;
        li {
            position: relative;
            width: 100%;
            aspect-ratio: 1;
            background: var(--backColor);
            padding: 20px;
            border-radius: 30px;
            overflow: hidden;
            @include media('mobile') {
                padding: 1rem;
            }
            .piecontainer {
                width: 100%; height: 100%;
            }
            .piecontainer {
                width: 100%; height: auto;
                position: relative;
                background-color: var(--whiteColor);
                border-radius: 50%;
                aspect-ratio: 1;
            }
            .piecover {
                position: absolute;
                right: 10%;
                top: 10%;
                background-color: var(--backColor);
                width: 80%; height: 80%;
                border-radius: 50%;
                aspect-ratio: 1;
            }
            .piechart {
                display: block;
                width: 100%; height: auto;
                border-radius: 50%;
                position: absolute;
                aspect-ratio: 1;
                // background-image: conic-gradient(pink calc(365 * 0.5deg) , transparent 0);
            }
            .skillName {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                .level {
                    @include miniTitle;
                }
            }
        }
    }
}

.certiDetail .detailBox {
    @include flexY;
    .certiCate {
        @include miniCate;
    }
    .certiCon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        @include media("tablet") {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
        @include media("mobile") {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
        li {
            position: relative;
            @include flexY;
            justify-content: space-between;
            border-radius: 1rem;
            background: var(--backColor);
            padding: 1rem;
        }
        .name {
            @include miniTitle;
            line-height: 180%;
        }
        .date {
            @include dateText;
        }
        .issuer {
            text-align: right;
            font-weight: 700;
            margin-top: 1rem;
        }
        .icon {
            position: absolute;
            @include button100;
            right: 1rem; top: 1rem;
            height: 3rem; width: 3rem;
            font-size: 1.2rem;
        }
    }
}